#wrapper {
	padding: 30px;
}

#header {
	width: 100%;
	border-bottom: 2px solid black;
}

	#header h2 {
		display: inline-block;
		vertical-align: bottom;
		padding-top: 10px;
		padding-left: 10px;
	}

	#header a {
		display: inline-block;
		padding: 10px;	
	}

	#logout {
		float: right;
		margin-top: 12px;
	}

#content_header {
	margin-top: 30px;
}

	#content_header h3 {
		display: inline-block;
		margin-left: 10px;
	}

	#content_header .btn {
		float: right;
		margin-right: 10px;
	}