#wrapper {
	padding: 30px;
}

#header {
	width: 100%;
	border-bottom: 2px solid black;
}

	#header h2 {
		display: inline-block;
		vertical-align: bottom;
		padding-top: 10px;
		padding-left: 10px;
	}

	#header a {
		display: inline-block;
		padding: 10px;	
	}

	#logout {
		float: right;
		margin-top: 12px;
	}

#content h3 {
	margin: 10px;
	margin-top: 20px;
}

#return {
	float: right;
	margin-top: 20px;
}

#edit_info, #change_password {
	display: inline-block;
	width: 400px;
	vertical-align: top;
	padding: 20px;
	border: 1px solid black;
	margin: 10px;
	height: 270px;
}

#edit_description {
	padding: 20px;
	border: 1px solid black;
	margin: 10px;
	max-width: 824px;
}
	
	#edit_description input {
		width: 100%;
		padding-bottom: 70px;

	}

.messages {
	color: red;
	list-style-type: none;
	font-size: 12px;
	margin-top: 10px;
	text-align: center;
	padding: 0;
}

input {
	width: 180px;
}

select {
	width: 180px;
	margin-left: 5px;
}

label {
	width: 144px;
}

button {
	display: block;
	margin-top: 12px;
	margin-left: auto;
	margin-right: auto;
}

form {
	margin-bottom: 10px;
}

@media only screen and (max-width: 530px) {
	#header h2 {
		display: block;
	}
	#logout {
		margin-top: 0;
	}
	#header a {
		padding-top: 0;
	}
	#edit_info, #change_password {
		width: 400px;
	}
	#edit_description {
		width: 400px;
	}
}

@media only screen and (max-width: 903px) and (min-width: 530px) {
	#edit_info, #change_password {
		margin-left: auto;
		margin-right: auto;
		display: block;
		width: 500px;
		padding-left: 50px;
		padding-right: 50px;
	}
	#edit_description {
		margin-left: auto;
		margin-right: auto;
		width: 500px;
	}
}
