<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'messages_home_style.css' %}">
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script>
		$(document).ready(function() {
			// Doesnt allow for users to delete other users posts by not showing delete button
			$('.post').each(function(index, element) {
				if ($(element).attr('class') != "post {{request.session.user_id}}" && {{request.session.user_level}} != 9) {
					$(element).children().children().children(".delete").css('display', 'none');
				}
			});
			// Doesnt allow for users to delete other users comments by not showing delete button
			$('.comment').each(function(index, element) {
				if ($(element).attr('class') != "comment {{request.session.user_id}}" && {{request.session.user_level}} != 9) {
					$(element).children().children().children(".delete").css('display', 'none');
				}
			});
			// For deleting comments and posts when you click the x next to it on the wall  
			$('.delete').click(function() {
				// For of the button clicked is for a message
				if ($(this).parent().parent().parent().attr('class').includes('post')) {
					var post_id = $(this).parent().siblings().attr('id');
					$.ajax({
					url: 'ajax/delete_post',
					data: {
						'post_id': post_id
					},
					dataType: 'json',
					success: function (data) {
						if (data['deleted']) {
							$('#' + post_id + ".post").remove();
						}
					}
				});
				// For if the button clicked is for a comment
				} else if (($(this).parent().parent().parent().attr('class').includes('comment'))) {
					var comment_id = $(this).parent().siblings().attr('id');
					$.ajax({
					url: 'ajax/delete_post',
					data: {
						'comment_id': comment_id
					},
					dataType: 'json',
					success: function (data) {
						if (data['deleted']) {
							$('#' + comment_id + '.comment').remove();
						}
					}
				});
				}
			});
		});
	</script>
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<h2>Demo Dashboard</h2>
			<a href="/">Home</a>
			<a href="/users/edit">Profile</a>
			<a href="/logout" id="logout">Log out</a>
		</div>
		<div id="content">
			<div id="user_info">
				<h3>{{user.first_name}} {{user.last_name}}</h3>
				<ul>
					<li><span class="info_label">Registered at: </span>{{user.created_at}}</li>
					<li><span class="info_label">User ID: </span>{{user.id}}</li>
					<li><span class="info_label">Email Address: </span>{{user.email}}</li>
					<li><span class="info_label">Description: </span>{{user.description}}</li>
				</ul>
			</div>
			<div id="new_content">
				<form action="/users/post_message" method="post">
					{% csrf_token %}
					<label for="new_message">Leave a message for {{user.first_name}}</label>
					<input type="hidden" name="recieving_user" value="{{user.id}}">
					<input type="text" name="new_message">
					<button class="btn btn-primary btn-sm" type="submit">Post a message</button>
				</form>
			</div>

			<div id="all_messages">
				{% for post in posts %}
				<div class="post {{post.sending_user.id}}" id="{{post.id}}">
					<div class="text">
						<h6>
							
							{{post.sending_user.first_name}} {{post.sending_user.last_name}} - {{post.created_at}} 
							<a class="btn-sm btn-outline-danger delete">x</a>
						</h6>

						<p id="{{post.id}}">{{post.message}}</p>
					</div>
					
					{% for comment in post.comments.all %}
						<div class="comment {{comment.sending_user_id}}" id="{{comment.id}}">
							<div class="text">
								<h6>
									{{comment.sending_user.first_name}} {{comment.sending_user.last_name}} - {{comment.created_at}}
									<a class="btn-sm btn-outline-danger delete">x</a>
								</h6>
								<p id="{{comment.id}}">{{comment.comment}}</p>
							</div>		
						</div>
					{% endfor %}

					<div id="new_content">
						<form action="/users/post_comment" method="post" class="post_comment">
							{% csrf_token %}
							<label for="new_comment">Post a comment</label>
							<input type="text" name="new_comment">
							<input type="hidden" name="message_id" value="{{post.id}}">
							<button class="btn btn-success btn-sm add-comment" type="submit">Post a comment</button>
						</form>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</body>
</html>